.movies_list{
  background: #131929;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;


}
.box{
border: none;
border-radius: 1%;
margin-bottom: 20px;
margin-bottom: 150px;
height: 500px;
}

.box-text{
margin-top: 0;
margin: .75rem;
}

.box-body{
color: #fff;
}

.box-title{
margin: .75rem;
word-wrap: break-word;
color: #fff;
}
p{
font-size: 1.25rem;
font-weight: 700
}
.movies-list{
display: grid;
grid-template-columns: repeat(3, 1fr)  ;
grid-gap: 10px;
margin-top: 20px;
justify-content: center;
align-items: center;
}

img{
width: 100%;
height: 100%;
object-fit: cover;
}

@media(max-width: 600px){

.movies-list{
grid-template-columns: repeat(2, minmax(100px, 1fr));
}


}

@media(max-width: 500px){

.movies-list{
  display: block;
}

}
