<section class="movies_list">
  <div class="container">
    <div *ngIf="favMovies">
        <div class="movies-list card-deck_margin">
            <div class="box" *ngFor="let movie of favMovies">

                <img
                *ngIf= " movie.posterurl == ''; else elseBlock "
                [src]="defaultImageUrl"  class="img-fluid" alt="{{movie.title}}">
                <ng-template #elseBlock>
                    <img

                    [src]="movie.posterurl"  class="img-fluid" alt="{{movie.title}}">
                </ng-template>


                <div class="box-body">
                <a routerLink="/movies/{{movie.id}}"><p class="box-title">{{movie.title}}</p></a>
                <span class="genre-span">{{movie.year}}</span>
                </div>
              </div>
          </div>
        </div>
        <div *ngIf="favMovies.length== 0">
          <h2 style="color: #fff">You do not have any favourite movie listed</h2>

        </div>
        </div>
</section>
<router-outlet></router-outlet>

